pre {
    font-size: 1.5rem;
}
body {
    font-family: 'Anek Latin', sans-serif;
    font-weight: bold;
}
.tick line{
    stroke: #C0C0BB
}

.tick text {
    fill: #0f448a;
}
/* .colorDiv {
    width: 100px;
    height: 100px;
} */

.mark {
    fill: #137B00;
}

.axisLabel {
    font-size:2em;
    fill: #0f448a;
}